<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/Authentication/Oauth2Client">
    <i class="fa fa-server"></i> OAuth Sample</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ModuleDropdown">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse justify-content-end" id="ProfileDropdown">
    <ul class="navbar-nav ">
      <li class="nav-item">
        <a class="nav-link" [queryParams]="{ OpenAuthBox: 'false' }" [routerLink]="['/Authentication/Oauth2Client']">
          <i class="fa fa-shield"></i> OAuth</a>
      </li>
    </ul>
  </div>
</nav>
