@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/css/bootstrap")
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/bootstrap")
</head>

<body style="overflow:auto;">

        @RenderBody()
</body>
</html>
